Placeholder {

}

#radar {
    width: 100%;
}

Header {
    background: #0cbc79;
}

Footer {
    background: #0cbc79;
}

DataTable > .datatable--cursor {
    background: orange;
    color: $text;
    text-style: bold;
}

#actable {
    width: 30%;
}

#targetstring {

}

RadarGrid {
    height: 100%;
}